<div class="msg_history">
    <div class="loader" *ngIf="isLoading"></div>
    <div *ngFor="let message of messages">
        <div class="incoming_msg" *ngIf="message.user != currentUserId">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"> </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>{{ message.content }}</p>
                    <span class="time_date">{{message.createdAt | timeAgo}}</span>
                </div>
            </div>
        </div>
        <div class="outgoing_msg" *ngIf="message.user == currentUserId">
            <div class="sent_msg">
                <p>{{ message.content }}</p>
                <span class="time_date">{{message.createdAt | date: 'HH:MM a | MMMM d, y'}}</span>
            </div>
        </div>
    </div>
</div>
<div class="type_msg">
    <div class="input_msg_write">
        <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="content"/>
        <button class="msg_send_btn" type="button" (click)="createMessage()"><i class="fa fa-paper-plane-o"
                aria-hidden="true" ></i></button>
    </div>
</div>