<app-left-section></app-left-section>

 <div class="main vertical-center">
    <div class="col-md-12 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label for="email">E-mail :</label>
                <input type="email" class="form-control" placeholder="Type your e-mail adress here"
                id="email">
             </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Type your password here"
                id="password">
             </div>
             <button type="submit" class="btn btn-black btn-block">Login</button>
             <a routerLink="/register" class="btn btn-secondary btn-block mt-3 text-white">Register</a>
          </form>
       </div>
    </div>
 </div>
