<app-left-section></app-left-section>

 <div class="main vertical-center">
    <div class="col-md-12 col-sm-12">
       <div class="login-form">
          <form>
            <div class="form-group">
                <label for="firstname">First name :</label>
                <input type="text" class="form-control" placeholder="Type your first name here"
                id="firstname" >
             </div>
             <div class="form-group">
                <label for="lastname">Last name :</label>
                <input type="text" class="form-control" placeholder="Type your last name here"
                id="lastname">
             </div>
             <div class="form-group">
                <label for="age">Age :</label>
                <input type="number" class="form-control" placeholder="Type your age here" id="age">
             </div>
             <div class="form-group">
                <label for="email">E-mail :</label>
                <input type="email" class="form-control" placeholder="Type your e-mail adress here"
                id="email">
             </div>
             <div class="form-group">
                <label for="password">Password :</label>
                <input type="password" class="form-control" placeholder="Type your password here"
                id="password">
             </div>
             <div class="form-group">
                <label id="passwordConfirmation">Password confirmation :</label>
                <input type="password" class="form-control" placeholder="Type your password here"
                id="passwordConfirmation">
             </div>
             <button type="submit" class="btn btn-black btn-block">Register</button>
             <a routerLink="/login" class="btn btn-secondary btn-block mt-3 text-white">Go back to login page</a>
          </form>
       </div>
    </div>
 </div>
